{% load i18n static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block extra_meta %}
        {% endblock %}
        <title>
            {% if site_name %}{{ site_name }} : {% endif %}{% block head_title %}{% endblock %}
        </title>
        {% include "css.html" %}
        {% block extra_head %}
        {% endblock %}
    </head>

    <body>
        {% block overridebody %}
        <div id="body">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        {% block body %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}

        <div id="footer">
            {% include "js.html" %}
            {% block footer %}
            {% endblock %}
        </div>
    </body>
</html>
